<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.css">
    <link rel="stylesheet" href="/node_modules/datatables/media/css/jquery.dataTables.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/node_modules/highcharts/css/highcharts.css" rel="stylesheet">
</head>
<body>

    <section id="root"></section>
    
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <table id="table_id">
                    <thead>
                        <tr class="top_head">
                            <th>Preview</th>
                            <th>Время</th>
                            <th>Статус</th>
                            <th>Площадка</th>
                            <th>Тип</th>
                            <th>Цена</th>
                            <th>Активность</th>
                            <th>Подписок</th>
                            <th>Пол</th>
                            <th>Возраст</th>
                            <th>CPA</th>
                            <th data-class-name="priority"></th>
                        </tr>
                        <tr class="top_filter">
                            <th></th>
                            <th>
                                <div class="form-group-sm">
                                    <input type="text" 
                                        name="gender_man_from" 
                                        id="gender_man_from" 
                                        class="form-control form-filter input-double-filter filter-input" 
                                        placeholder="♂, от" /> 
                                    <input type="text" 
                                        name="gender_man_to" 
                                        id="gender_man_to" 
                                        class="form-control form-filter input-double-filter filter-input" 
                                        placeholder="♂, до" />
                                </div>
                            </th>
                            <th>Статус</th>
                            <th>Площадка</th>
                            <th>Тип</th>
                            <th>Цена</th>
                            <th>Активность</th>
                            <th>Подписок</th>
                            <th>Пол</th>
                            <th>Возраст</th>
                            <th>CPA</th>
                            <th data-class-name="priority"></th>
                        </tr>
                    </thead>
                    <tbody >
                        <!-- start loop with pablics data -->
                        <tr v-for="(item, id) in pablicInfo" class="top_head"  >
                                    <th class="form-preview"> 
                                        <img v-if="item.img"  v-bind:src="item.img" alt="">
                                        <img v-else-if="!item.img" src="./img/empty.png" alt=""> 
                                    </th>
                                    <th class="form-date-time">
                                        <p>{{item.date}}</p>
                                        <p>{{item.time}}</p>
                                    </th>
                                    <th class="form-status">
                                        <i v-if="item.status == 1" 
                                            class="material-icons">check</i>
                                        <i v-else-if="item.status === 0" 
                                            class="material-icons">content_copy </i>
                                        <i v-else-if="item.status === ''" 
                                            class="material-icons">access_time</i>
                                    </th>
                                    <th class="form-denotation">
                                        <div class="helmet">
                                                <span>
                                                        <img v-bind:src=item.denotationImg alt="">
                                                </span>
                                                <p>{{item.denotationName}}</p>
                                        </div>
                                    </th>
                                    <th class="form-infa">
                                        <i class="material-icons">info</i>
                                    </th>
                                    <th class="form-price">
                                        <b>{{item.price}}</b>
                                    </th>
                                    <th class="form-activity activity">
                                        <div class="likes-count">
                                            <i class="material-icons">favorite</i>
                                            {{item.likes}}
                                        </div>
                                        <div class="shar-comments">
                                            <p>
                                                <i class="material-icons">screen_share</i>
                                                {{item.shares}}
                                            </p>
                                            <p>
                                                <i class="material-icons">forum</i>
                                                {{item.comments}}</p>
                                        </div>
                                    </th>
                                    <th class="form-subscribes">
                                        <p>{{item.subscribe}}</p>
                                    </th>
                                    <!-- PIE GRAPH -->
                                    <th class="gender-sex form-gender-sex">
                                        <div v-bind:id="item.id" 
                                                class="graphTarget" 
                                                style="min-width: 144px; max-height:120px; margin: 0 auto">
                                        </div>
                                    </th>
                                    <!-- COLUMN GRAPH -->
                                    <th class="age-wrap form-age-wrap">
                                        <div v-bind:id="item.id" 
                                                class="graphTarget" 
                                                style="min-width: 144px; max-height:120px; margin: 0 auto">
                                        </div>
                                    </th>
                                    <th class="form-cpa">
                                        <p v-if="item.cpa == ''" >
                                                <i class="material-icons">do_not_disturb</i>
                                        </p>
                                        <p v-else>{{item.cpa}}</p>
                                    </th>
                                    <th data-class-name="priority"></th>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
   
   


    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.js"></script>
      
    <script src="./dist/bundle.js"></script>
    
</body>
</html>