@import url("/node_modules/materialize-css/dist/css/materialize.css");
@font-face {
  font-family: 'h';
  src: url("/font/HelveticaLight/HelveticaLight.ttf");
}

* {
  font-family: 'h';
}

body {
  background: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .highcharts-data-label, body .dataTables_info {
  visibility: hidden;
}

body table.dataTable thead th, body table.dataTable thead td {
  padding: 0;
}

body table.dataTable tbody tr {
  background: inherit;
}

body .highcharts-background {
  fill: #262626;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

tbody tr th {
  border-left: 1px solid #2D2D2D;
  border-bottom: 1px solid #2D2D2D;
  height: 50px !important;
  box-sizing: border-box !important;
}

tbody tr th p {
  margin: 0;
}

tbody tr th img {
  float: left;
  max-width: 50px;
}

tbody tr .activity .material-icons {
  font-size: 13px;
}

tbody tr .activity .shar-comments {
  display: flex;
  justify-content: space-around;
}

#mainer-wrapper {
  border: 2px solid #03a9f4;
  border-radius: 4px;
  overflow: hidden;
}

#mainer-wrapper h4, #mainer-wrapper .selectors {
  margin: 10px;
  color: #a8a8a8;
}

#mainer-wrapper .kind-of {
  margin: 10px;
  color: #a8a8a8;
}

#mainer-wrapper #table_id {
  background: #262626;
  color: #fff;
  font-weight: 100;
  /*body table*/
}

#mainer-wrapper #table_id .top_head {
  height: 40px;
}

#mainer-wrapper #table_id .top_filter {
  height: 40px;
}

#mainer-wrapper #table_id .top_filter .filter-same .form-group-sm {
  display: flex;
  justify-content: center;
}

#mainer-wrapper #table_id .top_filter .filter-same input {
  border: 1px solid #474642;
  width: 31px;
  padding-left: 5px;
  margin: 1px;
  height: 25px;
  border-radius: 2px;
  box-shadow: none !important;
  font-size: 11px;
  background: #353535;
  transition: 0.3s ease;
}

#mainer-wrapper #table_id .top_filter .filter-same input::placeholder {
  color: #797877;
}

#mainer-wrapper #table_id .top_filter .filter-same input:hover {
  opacity: 0.8;
}

#mainer-wrapper #table_id .top_filter .form-date-time .form-group-sm {
  display: flex;
}

#mainer-wrapper #table_id .top_filter .form-denotation input {
  width: 237px;
}

#mainer-wrapper #table_id .top_filter .form-age-wrap input {
  width: 100px;
}

#mainer-wrapper #table_id .top_head {
  color: #807e7e;
  font-size: 13px;
}

#mainer-wrapper #table_id .top_head .helmet {
  width: 228px;
  display: flex;
  align-items: center;
}

#mainer-wrapper #table_id .top_head .helmet span {
  margin-right: 4px;
}

#mainer-wrapper #table_id .top_head .form-activity .likes-count {
  width: 100px;
}

#mainer-wrapper #table_id .top_head .form-status .teal-text {
  font-weight: bold;
}

/*tabs*/
.tabs-area .siblin {
  display: none;
}

.tabs-area .active {
  display: block !important;
}

/*modal*/
.modal-control {
  margin: auto;
}

#popup {
  display: none;
}

.pop-opened {
  display: block !important;
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 555px;
}
/*# sourceMappingURL=style.css.map */